@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  border: 2px solid black;
}

.again {
  position: absolute;
  top: 48%;
  left: 46.5%;
  border: none;
  background-color: rgb(4, 0, 243);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "Press Start 2P", sans-serif;
  padding: 1rem 2rem;
  cursor: pointer;
}
.again:hover {
  background-color: rgb(53, 50, 243);
}
.over {
  position: absolute;
  top: 41%;
  left: 43%;
  font-family: "Press Start 2P", sans-serif;
  color: rgb(4, 0, 255);
}

.start {
  position: absolute;
  top: 46%;
  left: 46.5%;
  border: none;
  background-color: rgb(4, 0, 243);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "Press Start 2P", sans-serif;
  padding: 1rem 2rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.creator {
  position: absolute;
  top: 69%;
  left: 61%;
  font-size: 9px;
  font-family: "Press Start 2P", sans-serif;
  color: rgb(2, 2, 2);
}
/* .score {
  position: absolute;
  top: 24%;
  left: 67%;
  font-family: "Press Start 2P", sans-serif;
  color: rgb(251, 255, 0);
  font-size: 4rem;
} */
